.post {
    /* Setting the margin between the border and the element's content */
    padding: 20px;

    max-width:auto;
    background-color: #fff;
    border: 2px dashed #2a2a2a;

}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.post-text {

    text-indent: 100px;
}


.error {
    color:rgb(248, 8, 8);
}

.warning {
    color:rgba(236, 132, 34, 0.979);
}
.success{
color: blue;

}

/*ESTILO DE PAGINA TecnicoMantenimiento*/
table{
    border-collapse: collapse;
}

table th,
table td{
padding: 10px;
border: 1px solid #2a2a2a;
}

.title-h1{
        color: rgb(182, 67, 67);
        border: thick double #32a1ce;
        text-decoration: none;
        text-align: center;
}

/*ESTILO PAGINA SUPERVISOR*/

pre {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #2a2a2a;
    font-size: 16px;
}

pre::first-letter {
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #f44336;
} /*prueba de curso... */

